version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile.react
    container_name: mysite-react-app
    environment:
      - CHOKIDAR_USEPOLLING=true
    networks:
      - app-network

  nginx:
    image: nginx:alpine
    container_name: mysite-react-nginx
    ports:
      - "8080:80" # Из вне:8080 → в контейнере:80
    volumes:
      - ./for-docker/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - react-app
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
