.ad-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--side-height);
}

.ad-left-center {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: var(--side-width);
    height: calc(var(--center-height));
}

.ad-right-center {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: var(--side-width);
    height: calc(var(--center-height));
}

.ad-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: var(--side-height);
}
