:root {
    --portrait-width: 50vw;
    --portrait-height: calc(var(--portrait-width) * 1.3469);
}

@media (min-width: 768px) {
    :root {
        --portrait-width: 35vw;
    }
}

@media (min-width: 1024px) {
    :root {
        --portrait-width: 25vw;
    }
}

@media (min-width: 1280px) {
    :root {
        --portrait-width: 25vw;
    }
}

@media (min-width: 1440px) {
    :root {
        --portrait-width: 20vw;
    }
}

@media (min-width: 1600px) {
    :root {
        --portrait-width: 20vw;
    }
}

@media (min-width: 1920px) {
    :root {
        --portrait-width: 20vw;
    }
}
