.cursor {
  display: block;
  position: fixed;
  width: 1.9rem;
  height: 1.9rem;
  pointer-events: none;
  will-change: transform; /* Для оптимизации анимации */
  transform: translate(-17.5%, -4%);
}
