/* BUTTON */

button {
  cursor: none;
  background-color: var(--color-xlight-grey);
  border-radius: 2px;
  border-width: thin;
}

button:disabled {
  opacity: 0.7;
  background-color: var(--color-xlight-grey-a) !important;
}

button.hovered {
  background-color: var(--color-light-grey);
}

button.active {
  border-width: revert !important;
  border-color: black !important;
  background-color: var(--color-light-grey);
}

#BtnNeprikosnovenna {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  font-size: var(--font-size-xsm);
}

/* @media (min-width: 768px) {
  #BtnNeprikosnovenna {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 1600px) {
  #BtnNeprikosnovenna {
    font-size: var(--font-size-xsm);
  }
} */