/* BUTTON */
:root {
  --color-xlight-grey: rgb(240, 240, 240);
  --color-light-grey: rgb(220, 220, 220);
}


button {
  background-color: var(--color-xlight-grey);
  border-radius: 2px;
  border-width: thin;

  &.disabled {
    opacity: 0.35;
    // pointer-events: none;
  }

  &.hovered {
    background-color: var(--color-light-grey);
  }

  &.active {
    border-width: revert !important;
    border-color: black !important;
  }

}

#BtnNeprikosnovenna {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  font-size: var(--font-size-xsm);
}

/* @media (min-width: 768px) {
  #BtnNeprikosnovenna {
    font-size: var(--font-size-sm);
  }
}

@media (min-width: 1600px) {
  #BtnNeprikosnovenna {
    font-size: var(--font-size-xsm);
  }
} */